{{title}} API
============

{{#data}}{{^ignore}}{{^fake}}
- [{{ctx.name}}](#{{ctx.name}}){{/fake}}{{/ignore}}{{/data}}

{{#data}}{{^ignore}}{{^fake}}<a name="{{ctx.name}}"></a>
{{ctx.name}}( {{tagList tags}} )
------------------------------------------------------------

{{{description.summary}}}
{{#if tags}}
**Parameters:**
{{/if}}
{{#tags}}- **{{paramName .}}** *{{typeList types}}*: {{description}}
{{/tags}}

{{{description.body}}}

{{/fake}}{{/ignore}}{{/data}}
